<!--
	Main page = start page
-->	
<div data-role="page" id="page-start">

	<div data-role="header">
		<h1 data-i18n-key="title-application">&nbsp;</h1>
	</div><!-- /header -->

	<div data-role="content">
		<!-- search-box -->
		<div>
			<form id="main-search">
				<div data-role="controlgroup" data-type="horizontal" class="controlgroup-full search-group no-search-icon">
					<input type="search" name="query" value="" autocomplete="off"
						   data-wrapper-class="controlgroup-textinput" />
					<a href="#page-searchOptions"
					   class="ui-btn ui-icon-gear ui-btn-icon-notext"
					   >Options</a>
					<input type="button" name="search"
						   data-icon="search" data-wrapper-class="ui-btn-icon-notext"
						   value="search" />
				</div>
			</form>
			<ul class="autocomplete search" data-role="listview" data-inset="true" data-filter="false"></ul>
		</div>
	</div><!-- /content -->

</div><!-- /page -->