<!--
	Search options page
-->
<div data-role="dialog" id="page-searchOptions">

	<div data-role="header">
		<a href="index.html" data-icon="delete" data-rel="back">Cancel</a>
		<h1>Options</h1>
	</div><!-- /header -->

	<div data-role="content">
		<form name="main">
			<label for="searchOptions-indexName_1472482968849">Search index:</label>
			<select id="searchOptions-indexName_1472482968849" name="searchOptions-indexName">
				<option value="any" selected="selected">All</option>
				<option value="author">Author</option>
				<option value="title">Title</option>
				<option value="subject">Subject</option>
			</select>
			<input data-theme="b" type="submit" name="search-options-submit" id="search-options-submit_1472482968849" value="Save">
		</form>
	</div><!-- /content -->

</div><!-- /page -->